<div *ngIf="film">
  <button mat-fab color="primary" aria-label="go home" [routerLink]="['/']"
    class="float-right animate__animated animate__bounceInRight">
    <mat-icon>home</mat-icon>
  </button>

  <h1 class="animate__animated animate__bounceInDown">
    {{film.title}}
    <span>{{film.original_title}}</span>
  </h1>

  <img src="{{film.movie_banner}}" alt="{{film.title}}" class="film__image animate__animated animate__bounceInLeft">

  <mat-expansion-panel class="animate__animated animate__bounceInUp">
    <mat-expansion-panel-header>
      <mat-panel-title class="film__panel-title">
        <mat-icon>movie</mat-icon>
        show all details
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p>
      <span class="minititle">Score {{film.rt_score}}/100</span>
      <mat-progress-bar mode="determinate" value="{{film.rt_score}}"></mat-progress-bar>
    </p>

    <p>
      <span class="minititle">Description</span>
      {{film.description}}
    </p>

    <p>
      <span class="minititle">Director</span>
      {{film.director}}
    </p>

    <p>
      <span class="minititle">Year</span>
      {{film.release_date}}
    </p>

    <p>
      <span class="minititle">Duration</span>
      {{film.running_time}} min
    </p>

  </mat-expansion-panel>
</div>